*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}


#wrapper{
    width: 100vw;
    height: 100vh;
    background: hsla(205, 46%, 10%, 1);

    background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
        background-size: cover;
    overflow-x: hidden;
    display: grid;
    place-items: center;
}

.player{
    background-color: rgba(255, 255, 255, 0.21);
    width: fit-content;
    padding: 4px 10px;
    border-radius: 1rem;
    /* margin: 0 auto; */
    margin-top: 5vh;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    border: 2px solid goldenrod;
    
}

.boxes{
    
    width: 90%;
    max-width: 20rem;
    aspect-ratio: 1/1;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.228);

    border: 2px solid goldenrod;
    /* margin: 45vh auto;
    transform: translateY(-50%);
    margin-bottom: 0; */
    padding: 20px;
}


.box{
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.box0,.box1,.box3,.box4{
    
    border-right: 2px solid goldenrod;
    border-bottom: 2px solid goldenrod;
}

.box2,.box5{
    border-bottom: 2px solid goldenrod;
   
}

.box6,.box7{
    border-right: 2px solid goldenrod;
}

.box0{
    border-top-left-radius: .5rem;
}

.box2{
    border-top-right-radius: .5rem;
}

.box6{
    border-bottom-left-radius: .5rem;
}
.box8{
    border-bottom-right-radius: .5rem;
}
/* .button{
    width: fit-content;
    margin-left: 50vw;
    transform: translateX(-50%);
} */
.btn{
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.176);
    padding: .5rem 2rem;
    color: goldenrod;
    border: 3px solid goldenrod;
    font-weight: 600;
    /* border: 1px solid rgba(255, 255, 255, 2.754); */
    cursor: pointer;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    /* background-color: rgba(2, 106, 138, 0.447); */
    background: hsla(50, 57%, 47%, 1);

    background: linear-gradient(90deg, hsla(50, 57%, 47%, 1) 0%, hsla(56, 83%, 82%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(50, 57%, 47%, 1) 0%, hsla(56, 83%, 82%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(50, 57%, 47%, 1) 0%, hsla(56, 83%, 82%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#BDA734", endColorstr="#F7F2AB", GradientType=1 );}

.heading{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.wins{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.267);
    min-width: fit-content;
    max-width: 10rem;
    align-items: center;
    color: white;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    margin: 2rem;
    margin-top: -2rem;
    border: 3px solid goldenrod;

}

.points{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-self: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    column-rule: 5px solid white;

    /* column-count: 2;
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr); 
    column-gap: 20px;

    column-rule: 2.5px solid white;
    border: 1px solid white;
    padding: 4px; */

}

.winX,.winY{
    font-size: 1.2rem;
    font-weight: 400;
    
}
